<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://htmltopdf20220621121233.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/21ff54fa-4d2c-4eb2-9561-85f9685e17b7/resourceGroups/re-fnc-html-pdf/providers/Microsoft.Web/sites/HtmlToPdf20220621121233</ResourceId>
    <UserName>$HtmlToPdf20220621121233</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://htmltopdf20220621121233.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>